---
Language: Cpp
BasedOnStyle: WebKit
SpaceAfterTemplateKeyword: false
AlignEscapedNewlines: Left
AlignTrailingComments: true
BreakBeforeInheritanceComma: true
BreakConstructorInitializers: BeforeColon
AllowAllConstructorInitializersOnNextLine: true
ConstructorInitializerAllOnOneLineOrOnePerLine: false
AllowShortFunctionsOnASingleLine: false
NamespaceIndentation: None
AllowAllArgumentsOnNextLine: true
ConstructorInitializerIndentWidth: 0
SpacesInAngles: false
SpaceBeforeParens: Never
SortIncludes: false
SpaceBeforeCpp11BracedList: false
AlignAfterOpenBracket: AlwaysBreak
BinPackArguments: true
BinPackParameters: true
ColumnLimit: 150
AllowShortBlocksOnASingleLine: false
AllowShortEnumsOnASingleLine: false
BreakBeforeBraces: Attach