[submodule "thirdparty/spdlog"]
	path = thirdparty/spdlog
	url = https://github.com/vayudev/spdlog
[submodule "thirdparty/uWebSockets"]
	path = thirdparty/uWebSockets
	url = https://github.com/uNetworking/uWebSockets
[submodule "thirdparty/zstd"]
	path = thirdparty/zstd
	url = https://github.com/facebook/zstd
[submodule "thirdparty/atomic_queue"]
	path = thirdparty/atomic_queue
	url = https://github.com/max0x7ba/atomic_queue.git
[submodule "thirdparty/rapidjson"]
	path = thirdparty/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "thirdparty/SQLiteCpp"]
	path = thirdparty/SQLiteCpp
	url = https://github.com/SRombauts/SQLiteCpp.git
